body {
    background-image: url(Images/skullpaper.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    font-family: "New Old English";
    font-size: 22px;
    text-shadow: black;
    min-width: 500px;
    letter-spacing: 5px;
    color: #a17da7;
}

.registerFormFlex
{
    display: flex;
    justify-content: center;
    align-items: start;
    height: 350px;  
    width: 350px;
    margin: 2em;
    border-radius: 8px;
    transition: .5s;
    background-color: rgba(0, 0, 0, 0.3);
}

.loginFormFlex {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 350px;  
    width: 350px;
    margin: 2em;
    border-radius: 8px;
    transition: .5s;
    background-color: rgba(0, 0, 0, 0.6);
}

/* ALL BUTTONS */

.loginButton, 
.registerButton, 
.newsFormButton, 
.saveTask,
.saveEventButton,
.editEventButton
{
    margin-top: 1em;
    background-color: #a17da7;
    border: outset 3px #000000;
    justify-content: space-around;
    font-family: "New Old English";
    font-size: 20px;
    
}

/* END OF ALL BUTTONS */

/* ALL INPUT AND TEXT FIELDS */

.emailInput,
.passwordInput,
.dateOfBirthInput,
.emailLoginInput,
.passwordLoginInput {
    background-color: #dccbdf;
    opacity: .6;
    border: outset 3px #000000;
    font-family: "New Old English";
    font-size: 21px;
}
.eventInput,
.dateEventInput,
.locationInput,
.newsName,
.newsSummaryField,
.taskNameInput,
.taskDescriptionInput,
.urlField,
.dateField,
.completionDate {
    background-color: #dccbdf;
    opacity: .4;
    border: outset 3px #000000;
    font-family: "New Old English";
    font-size: 20px;
}

.registerForm {
    padding-top: 1em;
    width: 70%;
}

.loginForm {
    padding-top: 1em;
    width: 70%;

}

#container {
    padding-top: 2em;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
 /* END ALL INPUT AND TEXT FIELDS */

/* HEADER */

.navbar {
    background: #a17da7 !important;
    border: outset 3px #000000
}
.skullLogo {
    width:120px;
    height: auto
}
.navbar-logo {
    display: inline-block;
    width: 50% 
}

/* END OF HEADER */

/* FOOTER STYLES */

.footerList{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    top: 0;
    height: 70px;
    width: 70%;
    text-align: center;
    padding-left: 0;
}

.footer {
    background:#a17da7;
    border: outset 3px #000000;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: center;
    align-content: center;
}

.socialIcon {
    height: 100px;
    width: auto;
}

.footerItem {
    list-style-type: none;
    float: left;
    text-decoration-line: none;
    height: 40px;
    width: auto;
    z-index: 5;
    padding-bottom: 4em;
    align-items: center;
}

/* END OF FOOTER */
